<p class="copyright"> 2016 &copy; techdealer.in | Developed By
    <a target="_blank" href="http://dev.techdealer.in">Bijaya Das</a>
</p>
<a href="#index" class="go2top">
    <i class="icon-arrow-up"></i>
</a>