<!-- BEGIN HEADER -->
<header class="page-header">
    <nav class="navbar mega-menu" role="navigation">
        <div class="container-fluid">
            <div class="clearfix navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </button>
                <!-- End Toggle Button -->
                <!-- BEGIN LOGO -->
                <a id="index" class="page-logo" href="{{{ baseUrl }}}">
                    <img src="/images/layouts/layout5/img/logo.png" alt="Logo"> </a>
                <!-- END LOGO -->
                <!-- BEGIN SEARCH -->
                <form class="search" action="extr" method="GET">
                    <input type="name" class="form-control" name="query" placeholder="Search...">
                    <a href="javascript:;" class="btn submit md-skip">
                        <i class="fa fa-search"></i>
                    </a>
                </form>
                <!-- END SEARCH -->
                <!-- BEGIN TOPBAR ACTIONS -->
                <div class="topbar-actions">
                    <!-- BEGIN USER PROFILE -->
                    <div class="btn-group-img btn-group">
                        <button type="button" class="btn btn-sm md-skip dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span style="color:#fff;font-weight: bold;"><i class="fa fa-bars" aria-hidden="true"></i>  Menu</span>
                            <!-- <img src="/images/layouts/layout5/img/avatar1.jpg" alt="">  -->
                        </button>
                        <ul class="dropdown-menu-v2" role="menu">
                            <li>
                                <a href="http://dev.techdealer.in/">
                                    <i class="icon-moustache"></i>About me
                                    <span class="badge badge-success">Instructor</span>
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    <i class="icon-microphone"></i> Contact
                                    <span class="badge badge-warning">site admin</span>
                                  </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END USER PROFILE -->
                </div>
                <!-- END TOPBAR ACTIONS -->
            </div>
            <!-- BEGIN HEADER MENU -->
            <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-fw dropdown-fw-disabled  active open selected">
                        <a href="{{{ baseUrl }}}" class="text-uppercase">
                            <i class="icon-home"></i>  </a>
                    </li>
                    {{!-- Start of Basic Menu 1--}}
                    <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                        <a href="javascript:;" class="text-uppercase">
                            <i class="icon-notebook"></i> Technology </a>
                            <ul class="dropdown-menu dropdown-menu-fw">
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> Web </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="javascript:;"> Languages </a> </li>
                                        <li> <a href="javascript:;"> Frameworks </a> </li>
                                        <li> <a href="javascript:;"> Databases </a> </li>
                                        <li> <a href="javascript:;"> Libraries </a> </li>
                                        <li> <a href="javascript:;"> Protocols </a> </li>
                                        <li> <a href="javascript:;"> Tools </a> </li>
                                        <li> <a href="javascript:;"> Front-End </a> </li>
                                        <li> <a href="javascript:;"> Server </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> Desktop Apps </a>
                                    <ul class="dropdown-menu">
                                      <li> <a href="javascript:;"> Windows </a> </li>
                                      <li> <a href="javascript:;"> Mac </a> </li>
                                      <li> <a href="javascript:;"> Linux </a> </li>
                                      <li> <a href="javascript:;"> Tools </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> Mobile App </a>
                                    <ul class="dropdown-menu">
                                      <li> <a href="javascript:;"> Android Development</a> </li>
                                      <li> <a href="javascript:;"> iOS Development </a> </li>
                                      <li> <a href="javascript:;"> Windows Development </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> Gadget Dev </a>
                                    <ul class="dropdown-menu">
                                      <!-- <li> <a href="javascript:;"> Scripting </a> </li>
                                      <li> <a href="javascript:;"> Technologies </a> </li> -->
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> Data Science </a>
                                    <ul class="dropdown-menu">
                                      <li> <a href="javascript:;"> Machine Learning </a> </li>
                                      <li> <a href="javascript:;"> Technologies </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> IOT </a>
                                    <ul class="dropdown-menu">
                                      <li> <a href="javascript:;"> Scripting </a> </li>
                                      <li> <a href="javascript:;"> Technologies </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> Hacking </a>
                                    <ul class="dropdown-menu">
                                      <li> <a href="javascript:;"> Linux </a> </li>
                                      <li> <a href="javascript:;"> Technologies </a> </li>
                                    </ul>
                                </li>
                            </ul>
                    </li>
                    {{!-- End of Basic Menu 1--}}
                    {{!-- Start of Basic Menu 2--}}
                    <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                        <a href="javascript:;" class="text-uppercase">
                            <i class="icon-control-play"></i> Business </a>
                            <ul class="dropdown-menu dropdown-menu-fw">
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> Sales </a>
                                    <ul class="dropdown-menu">
                                      <li> <a href="javascript:;"> CBSE </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-ship"></i> Finance </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="javascript:;"> CBSE </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-ship"></i> Marketing </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="javascript:;"> CBSE </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-ship"></i> Advertising </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="javascript:;"> CBSE </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-ship"></i> Start-up </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="javascript:;"> CBSE </a> </li>
                                    </ul>
                                </li>
                            </ul>
                    </li>
                    {{!-- End of Basic Menu 2--}}
                    {{!-- Start of Basic Menu 3--}}
                    <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                        <a href="javascript:;" class="text-uppercase">
                            <i class="fa fa-volume-up"></i> Academics </a>
                            <ul class="dropdown-menu dropdown-menu-fw">
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> 10th </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="javascript:;"> CBSE </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> 11th </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="javascript:;"> CBSE </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> 12th </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="javascript:;"> CBSE </a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown more-dropdown-sub">
                                    <a href="javascript:;">
                                        <i class="fa fa-language"></i> BE </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="javascript:;"> BPUT </a> </li>
                                    </ul>
                                </li>
                            </ul>
                    </li>
                    {{!-- End of Basic Menu 3--}}
                    {{!-- Start of Basic Menu 4--}}
                    <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                        <a href="javascript:;" class="text-uppercase">
                            <i class="fa fa-newspaper-o"></i> Pro-Skill </a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="fa fa-language"></i> HandKraft </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="javascript:;">  Carpenter</a>  </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="fa fa-language"></i> Agriculture </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="javascript:;"> Fruits Farming </a>  </li>
                                    <li> <a href="javascript:;"> Horticulture </a>  </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="fa fa-language"></i> Musical </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="javascript:;"> Singing </a>  </li>
                                    <li> <a href="javascript:;"> Dancing </a>  </li>
                                    <li> <a href="javascript:;"> Playing Guitar </a>  </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="fa fa-language"></i> Mechanic </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="javascript:;"> Car </a>  </li>
                                    <li> <a href="javascript:;"> Bike </a>  </li>
                                    <li> <a href="javascript:;"> AC </a>  </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {{!-- End of Basic Menu 5--}}
                                        {{!-- Start of Basic Menu 5--}}
                    <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
                        <a href="javascript:;" class="text-uppercase">
                            <i class="fa fa-newspaper-o"></i> Competitive </a>
                        <ul class="dropdown-menu dropdown-menu-fw">
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="fa fa-language"></i> Study Abroad </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="javascript:;"> GRE </a> </li>
                                    <li> <a href="javascript:;"> GMAT </a> </li>
                                    <li> <a href="javascript:;"> TOEFL </a> </li>
                                    <li> <a href="javascript:;"> IELTS </a> </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="fa fa-language"></i> JEE </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="javascript:;"> IIT-JEE </a> </li>
                                    <li> <a href="javascript:;"> AIPMT </a> </li>
                                    <li> <a href="javascript:;"> KIIT </a> </li>
                                </ul>
                            </li>
                            <li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="fa fa-language"></i> Higher Study </a>
                                <ul class="dropdown-menu">
                                  <li> <a href="javascript:;"> CAT </a> </li>
                                  <li> <a href="javascript:;"> GATE </a> </li>
                                  <li> <a href="javascript:;"> MAT </a> </li>
                                  <li> <a href="javascript:;"> XAT </a> </li>
                                </ul>
                            </li>
														<li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="fa fa-language"></i> Govt. Jobs </a>
                                <ul class="dropdown-menu">
                                    <li> <a href="javascript:;"> UPSC </a> </li>
                                    <li> <a href="javascript:;"> Railway </a> </li>
                                    <li> <a href="javascript:;"> Airforce </a> </li>
                                    <li> <a href="javascript:;"> Army </a> </li>
                                </ul>
                            </li>
														<li class="dropdown more-dropdown-sub">
                                <a href="javascript:;">
                                    <i class="fa fa-language"></i> Bank Jobs </a>
                                <ul class="dropdown-menu">
                                  <li> <a href="javascript:;"> IBPS </a> </li>
                                  <li> <a href="javascript:;"> SBI PO </a> </li>
                                  <li> <a href="javascript:;"> HDFC Clerical </a> </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {{!-- End of Basic Menu 5--}}
										{{!-- Start of Basic Menu 6--}}
											<li class="dropdown more-dropdown">
												<a href="javascript:;" class="text-uppercase"> More </a>
												<ul class="dropdown-menu">
													<li>
														<a href="#" class="text-uppercase">Blogs</a>
													</li>
													<li>
														<a href="#" class="text-uppercase">College Finder</a>
													</li>
													<li>
														<a href="#" class="text-uppercase">College reviews</a>
													</li>
												</ul>
											</li>
                    {{!-- End of Basic Menu 6--}}
                </ul>
            </div>
            <!-- END HEADER MENU -->
        </div>
        <!--/container-->
    </nav>
</header>
<!-- END HEADER -->
